@(form: Form[Post])
@scripts = {
    <script>
            var problemEditor;
            var solutionEditor;
            var onLoadProblem = function (event) {
                console.log("All resources finished loading! onLoadProblem");
                problemEditor = event.contentWindow.editor;
            }

            var onLoadSolution = function (event) {
                console.log("All resources finished loading! onLoadSolution");
                solutionEditor = event.contentWindow.editor;
            }

            function doSubmit() {
                var problem = problemEditor.getHTML();
                var solution = solutionEditor.getHTML();
                console.log(problem);
                console.log(solution);
                $("#problem").text(problem);
                $("#solution").text(solution);
                return true;
            }
    </script>
}
@main("New Post", scripts = scripts) {
    <form action="@routes.PostController.post()" method="post" onsubmit="doSubmit()">
        <input type="hidden" name="@form("id").name" value="@form("id").value">

        <label for="title">Title</label>
        <div class="input-group @if(form("title").hasErrors){error}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-mark"></i></span>
            <input id="title" type="text" class="form-control" name="@form("title").name"
            value="@form("title").value" placeholder="Title" required>
            @if(form("title").hasErrors) {
                <div class="error">
                @{
                    form("title").error.map { error => error.message }
                }
                </div>
            }
        </div>
        <textarea style="display: none" id="problem" title="Problem" placeholder="Problem"
            name="@form("problem").name">@form("problem").value</textarea>
        <textarea style="display: none" id="solution" title="Solution" placeholder="Solution"
            name="@form("solution").name">@form("solution").value</textarea>
        <label for="iframe-problem">Problem</label>
        <iframe id="iframe-problem" onload="onLoadProblem(this)" seamless="true" src="@routes.Assets.versioned("javascripts/document.html")"></iframe>
        <label for="iframe-solution">Solution</label>
        <iframe id="iframe-solution" onload="onLoadSolution(this)" seamless="true" src="@routes.Assets.versioned("javascripts/document.html")"></iframe>
        <button class="btn btn-u btn-primary">Validate</button>
    </form>


}